/* CSS Demo Stylesheet */
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
/*------Responsive Images------*/

img{
  max-width:100px;
}


/*------Utility Classes------*/

.container{
  width: 80vw;
  max-width:960px;
  margin: 40px auto;
}



  /*  ---------------Global Styles-----------------  */
body{
    font-family: "Fira Sans", sans-serif;
    margin:0;
}

header.primary{
    background-color: #F23D5E;
    color:#ffffff;
    text shadow: 1p 1px 20px #000000;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /*Single value short hand*/
    padding: 40px;
    /* Top, Right, Bottom, Left */
    padding: 20px 40 px 20px 40px;
    /* Two Value Top/Bottom / Left/Right */
    padding: 20px 40 px;
    text-align:center;
    /* ex: text, line, center, and justify */
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 0 0;
}

header.primary h1 a {
  color:#ffffff;
  text-decoration:none;
}

header.primary h2f{
  font-size:1.2rem;
  margin:0;
}

nav.primary{
  max-width:960px;
  margin:auto;
}

nav.primary ul{
  padding:10px 0 0 0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

nav.primary ul li{
  list-style-type:none;
}

nav.primary ul li a{
  color:#ffffff;
  text-decoration:none;
  border: 1px solid #c0c0c0;
  padding: 7.5px 10px;
  border-radius:20px;
  background-color: rgba(0,0,0,.4);
  transition: .4s;
}

nav.primary ul li a:hover{
  background-color: rgba(0,0,0,.8);
}

#intro {
  line-height:1.6
}

#intro h2{
  color: #F23D5E;
  border-bottom: 1px dotted gray;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0,0,0, .6);
  padding:10px;
  border-radius:4px;
  font-size: .8rem;
}

time.post.date, figcaption{
  text-transform:uppercase;
  color:#ccc;
}

#content a {
  color: #F23D5E
}

#content article.post figure{
  margin:0;
}



/*-------Media Queries-------*/

@media screen and (max-width:600px){
nav.primary ul{
  flex-direction:column;
  gap:20px;
  max-width: 250px;
  margin:20px auto;
}

nav.primary ul a{
  display:block;
}


}